#botao_gera_url {
	display:block;
	height: 43px;
	width: 84px;
	background:url(imagens/btn_encurtar.png) no-repeat;
	background-position:0 0;
	cursor: pointer;
}
#botao_gera_url:hover {
	display: block;
	height: 43px;
	width: 84px;
	background: url(imagens/btn_encurtar.png) no-repeat;
	background-position: 0 -86px;
}
#botao_gera_url:active {
	display: block;
	height: 43px;
	width: 84px;
	background: url(imagens/btn_encurtar.png) no-repeat;
	background-position: 0 -43px;
}